:root {
    --primary-color: #e50914;
    --gray-color: #ccc;
    --white-color: #fff;
    --background-color: #171717;
    --tertiary-color: #101010;
    --border-color: #3a3a3a;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto Condensed", sans-serif;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    height: 0.95rem;
    width: 0.95rem;
    transition: fill 0.15s ease-in;
    fill: var(--gray-color);
}

img {
    width: 100%;
}

/* Menu  */

.containerMenu {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.containerMenu .menu {
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: var(--tertiary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0;
}

.containerMenu .menu .item {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
    flex: 0 0 auto;
    background: 0 0;
    padding: 1.1875em 1.125em;
    color: var(--gray-color);
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.15s ease-in;
    cursor: pointer;
    font-size: 0.8rem;
}

.containerMenu .menu .item.logo {
    color: var(--active-color);
    font-size: 1rem;
}

.containerMenu .menu .item svg {
    height: 0.95rem;
    width: 0.95rem;
    margin-right: 0.35em;
    transition: fill 0.15s ease-in;
    fill: var(--gray-color);
}

@media only screen and (max-width: 768px) {
    .containerMenu .menu .item .only {
        display: none;
    }
    .containerMenu .menu {
        justify-content: space-between;
    }
    .containerMenu .menu .item {
        display: none;
    }
    .containerMenu .menu .item.logo {
        display: block;
    }
}

/* Bottom Navigation */

.containerNavBottom {
    display: none;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
}

.containerNavBottom .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerNavBottom .menu .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--gray-color);
    white-space: nowrap;
    overflow: hidden;
}

.containerNavBottom .menu .item svg {
    margin-bottom: 0.2rem;
    width: 1.5rem;
    fill: var(--gray-color);
}

@media only screen and (max-width: 768px) {
    .containerNavBottom {
        z-index: 99;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: var(--tertiary-color);
    }
    .containerNavBottom .menu .item {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .containerNavBottom .menu .item svg {
        width: 1.3rem;
    }
}

@media only screen and (max-width: 500px) {
    .containerNavBottom .menu .item {
        font-size: 0.7rem;
    }
    .containerNavBottom .menu .item svg {
        width: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .containerNavBottom .menu .item {
        font-size: 0.6rem;
    }
    .containerNavBottom .menu .item svg {
        width: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .containerNavBottom .menu .item svg {
        width: 1.3rem;
    }
    .containerNavBottom .menu .item {
        font-size: 0.7rem;
    }
}

/* EpisodeCard Home */

.episodeCardHome {
    overflow: hidden;
    position: relative;
}

.episodeCardHome > img {
    object-fit: cover;
}

.episodeCardHome > .image > img:first-child {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100%;
}

.episodeCardHome > .holder {
    position: relative;
    padding: 0 0 56.25%;
    overflow: hidden;
}

.episodeCardHome > .holder > .overlay {
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

.episodeCardHome > .holder > .overlay,
.episodeCardHome > .holder > .overlay > .play {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.episodeCardHome > .holder > img {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.episodeCardHome > .holder > .overlay > .play {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}

.episodeCardHome > .holder > .overlay > .play:hover {
    opacity: 1;
}

.episodeCardHome > .holder > .overlay > .play svg {
    fill: #e50914;
    background: rgba(0, 0, 0, 0.75);
    width: 5em;
    height: 5em;
    border-radius: 5em;
    margin: 0;
    font-size: 0.65rem;
}

.episodeCardHome > .holder > .overlay > .time {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    position: absolute;
    top: 5px;
    left: 10px;
    text-transform: uppercase;
    opacity: 1;
    z-index: 1;
    font-size: 0.65rem;
    font-weight: 700;
}

.episodeCardHome > .holder > .overlay:hover > .time {
    opacity: 0;
}

.episodeCardHome > .holder > .overlay > .cover {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #171717;
    border-bottom: 0;
    border-right: 0;
    background-color: #1b1c1d;
    line-height: 0;
}

.episodeCardHome > .holder > .overlay > .cover > img {
    width: 53px;
    height: 73px;
}

.episodeCardHome > .text > .title {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.episodeCardHome > .text > .title > .limit {
    flex: 1;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.episodeCardHome > .text > .title > .episode {
    text-align: right;
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.65rem;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.episodeCardHome > .text > .title > .episode > .checkView {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: flex-end;
    margin-right: 0.2em;
}

.episodeCardHome > .text > .title > .episode > .checkView > svg {
    fill: var(--background-color);
}

.episodeCardHome > .text > .title:visited > .episode > .checkView svg {
    fill: var(--white-color) !important;
}

.episodeCardHome .holder .overlay .label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3rem 0.4rem;
    font-size: 0.7rem;
    border-radius: 0 0.4rem 0 0rem;
    background: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.title-section {
    font-weight: 700;
    font-size: 1.8rem;
}
.subtitle-section {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.7;
}

/* Contenedor */

.contenedor {
    min-height: 100vh;
    padding: 4rem 1rem 1rem;
    margin: 0 auto;
}

.contenedor h1.title {
    border: 0;
    margin-bottom: 1.5rem;
    padding: 0.25em 0;
    font-weight: 700;
    line-height: 1.2857em;
    font-size: 1rem;
    text-transform: uppercase;
}

.contenedor h1.title span {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #e50914;
}

.contenedor h1.title small {
    color: var(--gray-color);
    margin-top: 0.5rem;
    display: block;
}

/* Items */

.list-items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(auto, auto);
}

.list-items-h {
    grid-template-columns: repeat(6, 1fr);
}

.list-items .item {
    position: relative;
    overflow: hidden;
}

.list-items .item-h > .imageContainer {
    aspect-ratio: 16/9 !important;
}

.list-items .item .imageContainer {
    position: relative;
    aspect-ratio: 9/14;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.list-items .item .imageContainer {
    position: relative;
    aspect-ratio: 9/14;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.list-items .item .imageContainer .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, var(--background-color), transparent);
    border-radius: 8px 8px 0 0;
}

.list-items .item .imageContainer .score {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.75em;
    left: 0.3875em;
    font-weight: 700;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 5em;
    text-align: center;
    border-radius: 5em;
    line-height: 1.4285em;
    padding: 0.2rem;
}

.list-items .item .imageContainer .score b {
    margin-left: 3px;
    color: #eabe3f;
}

.list-items .item .imageContainer .score span svg {
    fill: #eabe3f;
    width: 0.8rem;
}

.list-items .item .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.list-items .item .infoContainer {
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    line-height: 1rem;
}

.list-items .item .info-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-items .item .info-h .title {
    margin-right: 10px !important;
}

.list-items .item .info-h .number {
    font-size: 0.6rem;
    color: var(--white-color);
    font-weight: 400;
    text-transform: uppercase;
}

.list-items .item .infoContainer .title {
    margin: 0;
    color: var(--white-color);
    font-size: 0.8rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
}

.list-items .item .infoContainer .year {
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--gray-color);
    margin: 0;
}

.list-items .item:hover > .infoContainer .title {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

/* Calendar */

.calendar {
    position: relative;
}
.calendar .daynameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.calendar .daynameContainer .dayname {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 0.2rem;
    text-transform: capitalize;
}

.calendar .daynameContainer .line {
    flex: 1 1;
    border-bottom: 1px solid #333;
}

.calendar .list-animes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.calendar .list-animes .item {
    overflow: hidden;
    height: 6.5em;
    padding: 0.5em 0 !important;
}

.calendar .list-animes .content {
    position: relative;
    height: 100%;
    background: center 25% no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.calendar .list-animes .content .info {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    text-shadow: 1px 1px 1px #000;
}

.calendar .list-animes .content .info p {
    display: inline-block;
    font-size: 0.6rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: hsla(0, 0%, 98%, 0.75);
    margin-bottom: 0.5rem;
}

.calendar .list-animes .content .info h1 {
    color: #f9f9f9;
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0;
}

.calendar .list-animes .content .info h1 .limit {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar .list-animes .content .overlay {
    transition: background-color 0.25s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) and (max-width: 1444px) {
    .calendar .list-animes {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 960px) and (max-width: 1024px) {
    .list-items {
        grid-template-columns: repeat(5, 1fr);
    }
    .filters {
        grid-template-columns: repeat(5, 1fr);
    }
    .calendar .list-animes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 767px) and (max-width: 960px) {
    .list-items {
        grid-template-columns: repeat(4, 1fr);
    }
    .top-menu .nav-item {
        font-size: 0.7rem;
    }
}

@media (min-width: 540px) and (max-width: 768px) {
    .list-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .filters {
        grid-template-columns: repeat(4, 1fr);
    }
    .filters .btnClear {
        grid-column: span 4;
    }
    .calendar .list-animes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 375px) and (max-width: 540px) {
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .calendar .list-animes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {
    .list-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 350px) and (max-width: 375px) {
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .calendar .list-animes {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* PosterEpisodio */

.list-episodes .episode {
    position: relative;
}

.list-episodes .episode .imagen {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    aspect-ratio: 9/14;
}

.list-episodes .episode .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-episodes .episode .imagen .episode-number {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #c5c5c5;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.list-episodes .episode .imagen .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #192026, transparent);
    transition: all 0.3s ease-in-out;
}

.list-episodes .episode:hover > .imagen .bg {
    background-color: rgba(0, 0, 0, 0.65);
}

.list-episodes .episode:hover > .imagen .episode-number {
    color: white;
}

.list-episodes .episode:hover > .episode-anime {
    opacity: 0.7;
}

.list-episodes .episode .episode-anime-container {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-episodes .episode .episode-anime {
    color: #ffffff;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
}

/*  */

@media (max-width: 991px) {
    .navbar-toggler {
        visibility: hidden;
        display: none;
    }
}

/* Estilos generales para el Top Menu */
.top-menu {
    background-color: var(--tertiary-color); /* Color de fondo del menú */
    padding: 0.5rem 1rem 0.5rem 1rem; /* Espaciado interno horizontal */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    position: fixed;
    width: 100%;
    z-index: 99;
}

/* Estilos para el logo */
.top-menu .navbar-brand.logo {
    font-size: 1.2rem; /* Tamaño de fuente del logo */
    font-weight: bold; /* Peso de fuente del logo */
    color: var(--white-color); /* Color del texto del logo */
    text-decoration: none; /* Sin subrayado para el enlace del logo */
    text-transform: uppercase;
}

/* Estilos para los enlaces del menú */
.top-menu .nav-item {
    display: flex; /* Mostrar los elementos en línea */
    align-items: center; /* Alinear verticalmente los elementos */
    padding: 0.5rem 1rem; /* Espaciado interno horizontal y vertical */
    color: var(--gray-color); /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado para los enlaces */
    transition: background-color 0.2s; /* Transición suave para el color de fondo */
    text-transform: uppercase;
    font-weight: bold;
}

/* Estilos para los iconos SVG */
.top-menu .nav-item svg {
    height: 0.95rem;
    width: 0.95rem;
    margin-right: 0.35em;
    transition: fill 0.15s ease-in;
    fill: var(--gray-color);
}

/* Estilo para el texto debajo del icono */
.top-menu .nav-item span {
    font-size: 0.8rem; /* Tamaño de fuente para el texto */
}

/* Estilos para el enlace activo */
.top-menu .nav-item.active {
    color: var(--primary-color); /* Color del texto para el enlace activo */
}

.top-menu .nav-item.active svg {
    fill: var(--primary-color);
}

/* Estilos para el contenedor flex dentro del Top Menu */
.top-menu .d-flex {
    margin-left: auto; /* Empujar los enlaces al extremo derecho */
}

/* Estilos para el Bottom Navigation Bar */
.bottom-navigation {
    display: flex;
    justify-content: space-around;
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 99;
}

.bottom-navigation .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--gray-color);
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
}

.bottom-navigation .nav-item svg {
    width: 18px;
    height: 18px;
}

.bottom-navigation .nav-item span {
    font-size: 0.7rem;
    margin-top: 4px;
}

/* Opcional: Estilos de resaltado para el elemento activo */
.bottom-navigation .nav-item.active {
    color: var(--primary-color);
    font-weight: bold;
}

.bottom-navigation .nav-item.active svg {
    fill: var(--primary-color);
}

/* Paginacion */

.paginate {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.paginate .item {
    font-size: 0.85rem;
    padding: 0.5375em 0.925em;
    justify-content: center;
    min-width: 3em;
    text-align: center;
    color: #b9b9b9;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.paginate .item.active {
    border-radius: 100%;
    color: #f9f9f9;
    background-color: #221f1f;
}
.paginate .item svg {
    fill: #b9b9b9;
    width: 24px;
    height: 24px;
    margin: 0;
}

/* Pagina Episode */

.containerEpisode {
    max-width: 1200px;
    margin: auto;
}

.containerEpisode .video .message {
    padding: 0.2rem;
    background-color: #101010;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.containerEpisode .navCaps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.containerEpisode .navCaps .column {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.containerEpisode .navCaps .column .info {
    display: flex;
    flex-direction: row;
}

.containerEpisode .navCaps .column img {
    width: 50px;
    border-radius: 0.2rem;
    border: 1px solid #101010;
}

.containerEpisode .navCaps .column .details {
    margin: 0 0 0 1em;
}

.containerEpisode .navCaps .column .details .info {
    flex-direction: column;
}

.navCaps .column .details .info h1 {
    margin: 0 !important;
    font-size: 1.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.navCaps .column .details .info .currentEp {
    margin: 0.3em 0;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #b9b9b9;
}

.containerEpisode .navCaps .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navCaps .actions .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #b9b9b9;
    min-width: 0;
    padding: 0.75em 1.25em;
}

.navCaps .column .actions .button svg {
    fill: #b9b9b9;
    width: 1.5em;
    height: 1.5em;
}

.videoPlayer {
    margin: 2rem 0;
}

.videoPlayer .msg {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-left: 2px solid var(--primary-color);
    text-transform: uppercase;
}

.videoPlayer .options {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.videoPlayer .options .type {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.videoPlayer .options .type label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #b9b9b9;
    margin-right: 10px;
}

.videoPlayer .options .type select {
    background: var(--tertiary-color);
    color: var(--gray-color);
    border: 0;
    padding: 0.7rem 0.5rem;
    min-width: 165px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.videoPlayer .options .type select:focus-visible {
    outline: none;
}

.videoPlayer .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: #101010;
}

.videoPlayer .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.adsP {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

@media (max-width: 728px) {
    .contenedor {
        padding-bottom: 4rem;
    }
    .containerEpisode .navCaps {
        flex-direction: column;
        align-items: flex-start;
    }
    .containerEpisode .navCaps .actions {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .navCaps .column .actions {
        margin-left: 0;
        justify-content: space-between;
        margin: 1rem 0;
    }
    .videoPlayer .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }
    .videoPlayer .options .type {
        margin: 0;
    }
    .videoPlayer .options .type select {
        min-width: 0;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .videoPlayer .video {
        padding-bottom: 80%;
    }
    .navCaps .column .actions .button {
        font-size: 0.8rem;
    }
    .videoPlayer .options .type select {
        font-size: 0.7rem;
        padding: 0.5rem 0.3rem;
    }
}

/* AnimePage */

.animePage {
    position: relative;
}

.animePage .banner {
    position: relative;
    aspect-ratio: 16/9;
    max-height: 450px;
    width: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.animePage .banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, hsla(0, 0%, 9%, 0.2), #171717);
    z-index: 0;
}

.animePage .banner .contentBanner {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.animePage .banner .contentBanner .column {
    width: 75%;
    display: inline-block;
    padding: 1rem;
    margin-left: auto;
}

.animePage .banner .contentBanner .column h1 {
    color: #f9f9f9;
    font-weight: 700;
    margin-bottom: 0.75em;
}

.animePage .banner .contentBanner .column .genres {
    display: flex;
    align-items: center;
}

.animePage .banner .contentBanner .column .genres .genre {
    transition: color 0.15s ease;
    color: #b9b9b9;
    border: 1px solid;
    border-radius: 2px;
    font-size: 0.7rem;
    padding: 0.45rem 0.7rem;
    margin-right: 1rem;
    text-transform: uppercase;
}

.animePage .content {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}
.animePage .content .info {
    z-index: 1;
    margin-top: -200px;
    margin-bottom: 1rem;
    width: 25%;
    padding: 1rem;
}

.animePage .content .info .cover {
    position: relative;
    aspect-ratio: 9/14;
}

.animePage .content .info .detailed {
    margin: 1em 0;
    padding: 0;
    text-align: right;
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.1875em 0;
    line-height: 1.125em;
}

.animePage .content .info .detailed .item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animePage .content .info .detailed .item.top {
    margin-bottom: 1rem;
}

.animePage .content .info .detailed .item small {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 0.6rem;
    text-align: start;
}

.animePage .content .data {
    margin: 1rem 0 0;
    width: 75%;
    padding: 1rem;
}

.animePage .content .data .overview {
    color: #b9b9b9;
    font-size: 0.8rem;
}

.animePage .content .listEpisodes {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.animePage .content .listEpisodes .episodeContainer {
    overflow: hidden;
}

.animePage .content .listEpisodes .episodeContainer .episodeImageContainer {
    position: relative;
    overflow: hidden;
}

.animePage
    .content
    .listEpisodes
    .episodeContainer
    .episodeImageContainer
    .overlay {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 0,
        rgba(0, 0, 0, 0.5)
    );
}

.animePage .content .listEpisodes .episodeContainer .episodeInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.animePage
    .content
    .listEpisodes
    .episodeContainer
    .episodeInfoContainer
    .animeTitle {
    flex: 1 1;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.animePage
    .content
    .listEpisodes
    .episodeContainer
    .episodeInfoContainer
    .episodeNumber {
    text-align: right;
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.65rem;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

@media (max-width: 767px) {
    .animePage .banner .contentBanner .column {
        width: 100%;
    }
    .animePage .genres {
        display: none !important;
    }
    .animePage .content .info .cover {
        display: none !important;
    }

    .animePage .content {
        flex-direction: column;
    }

    .animePage .content .info {
        margin-top: 0 !important;
        width: 100%;
        padding: 0.5rem 1rem;
        margin-bottom: 0;
    }

    .animePage .content .data {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

@media (max-width: 540px) {
    .animePage .content .listEpisodes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
    .animePage .content .listEpisodes {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Search */

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
    flex: 0 0 auto;
    background: 0 0;
    padding: 1.1875em 1.125em;
    color: #b9b9b9;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.15s ease-in;
}

.searchContainer svg {
    height: 0.95rem;
    width: 0.95rem;
    margin-right: 0.35em;
    transition: fill 0.15s ease-in;
    fill: #b9b9b9;
    cursor: pointer;
}

.searchContainer .search {
    display: flex;
    align-items: center;
    padding: 0 1.125em;
    z-index: 102;
    min-width: 350px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2d2e2f;
    border-bottom: 2px solid #e50914;
}

.searchContainer .search .inputContainer {
    width: 100%;
    font-size: 0;
    font-weight: bold;
}

.searchContainer .search .inputContainer .input {
    background-color: transparent;
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    text-align: left;
    line-height: 1.2142em;
    font-family: Roboto, Helvetica, sans-serif;
    border: 1px solid transparent;
    color: #f9f9f9;
    border-radius: 0.25rem;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    box-shadow: none;
    width: 100%;
    font-size: 0.7rem;
}

.searchContainer .search .close svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: #f9f9f9;
}

.searchContainer .search .results {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    width: 100%;
    background-color: #101010;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.loader:after,
.loader:before {
    content: "";
}

.searchContainer .search .results .empty {
    min-height: 0;
    padding: 1em 1.125em;
    text-align: center;
}

.searchContainer .search .results .loader {
    position: relative;
    vertical-align: middle;
    margin: 0;
    left: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    font-size: 0.8125em;
}

.searchContainer .search .results .loader:after {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-animation: loader 0.6s linear;
    animation: loader 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0 0 0 1px transparent;
}

.searchContainer .search .results .loader:before {
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 500rem;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.searchContainer .search .results .loader:after,
.searchContainer .search .results .loader:before {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0 0 -0.4375rem;
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .searchContainer .search {
        position: fixed;
        top: 0;
        width: 100%;
        height: 3.25em;
    }
}

.searchContainer .search .results .result {
    display: flex;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.525em 0.525em 0;
    min-height: 55px;
}

.searchContainer .search .results .result:first-child {
    padding-top: 0.725em;
}

.searchContainer .search .results .result div:first-child {
    display: inline-block;
    height: auto;
    width: 40px;
}

.searchContainer .search .results .result img {
    object-fit: cover;
}

.searchContainer .search .results .result .content {
    display: inline-block;
    padding: 0.5rem;
    overflow: hidden;
}

.searchContainer .search .results .result .content .title {
    display: list-item;
    list-style: none;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchContainer .search .results .result .content .type {
    display: list-item;
    list-style: none;
    margin-bottom: 0.25rem;
    font-size: 0.65rem;
    color: #b9b9b9;
    font-weight: 400;
}

.list-animes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(auto, auto);
}

.list-animes .animeCard {
    overflow: hidden;
}

.list-animes .animeCard .cover {
    position: relative;
    margin-bottom: 0.5em;
}

.list-animes .animeCard .cover .score {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.75em;
    left: 0.3875em;
    font-weight: 700;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 5em;
    text-align: center;
    border-radius: 5em;
    line-height: 1.4285em;
    padding: 0.2rem;
}

.list-animes .animeCard .cover .score span {
    display: flex;
    margin-right: 0.2rem;
}

.list-animes .animeCard .cover .score span svg {
    fill: #eabe3f;
    width: 0.8rem;
}

.list-animes .animeCard .cover .score b {
    margin-left: 3px;
    color: #eabe3f;
}

.list-animes .animeCard .cover .image {
    position: relative;
    overflow: hidden;
    line-height: 0;
    width: 100%;
    aspect-ratio: 9/14;
}

.list-animes .animeCard .cover .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.list-animes .animeCard .info h3 {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.list-animes .animeCard .info h3 span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    float: left;
    font-size: 0.8rem;
    font-weight: bold;
}

.list-animes .animeCard .info .year {
    font-size: 0.6rem;
    color: #b9b9b9;
}

/* Estilos para el Filtro */

.filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0 0 2rem 0;
    overflow: hidden;
}

.filters .filter {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters .filter label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #b9b9b9;
    margin-right: 10px;
}

.filters .filter select,
.filters .btnClear {
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
    background: var(--tertiary-color);
    color: var(--gray-color);
    border: 0;
    padding: 0.7rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.filters .btnClear {
    background: var(--primary-color);
}

.filters .filter select:focus-visible {
    outline: none;
}

.filters .filter select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem;
}

@media screen and (max-width: 320px) {
    .list-animes {
        grid-template-columns: repeat(1, 1fr);
    }
    .contenedor h1.title small {
        font-size: 0.7rem;
    }
    .filters {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .list-animes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 425px) and (max-width: 500px) {
    .list-animes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) and (max-width: 660px) {
    .list-animes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .filters {
        grid-template-columns: repeat(2, 1fr);
    }
    .filters button {
        grid-column: span 2;
    }
    .filters .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .filters .filter select {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .list-animes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .list-animes {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .list-animes {
        grid-template-columns: repeat(6, 1fr);
    }
}
